[project]
name = "2025wedition"
version = "0.1.0"
description = "Auswertungsskripte für BS Übung 1"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "numpy",
    "matplotlib",
    "polars",
]